/* color pallate
hitam pekat : 141414
hitam muda: 1b1b1b
putih mudah: f3f3f3
abu-abu: e1e1e1
 orange: E75326
 */
.sidebar-custom,
.navbar-custom {
	background-color: #1b1b1b;
}
.body-custom {
	background-color: red;
}
